@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}


*, ::before, ::after {
  border-color: #292524;
}

.tiptap:focus {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  display: inline;
  /*float: left;*/
  height: 0;
  pointer-events: none;
}
